// Font Family

$font-family-primary:   poppins, avenir next, avenir, sans-serif;
$font-family-secondary: palatino, georgia, serif;
$font-family-monospace: consolas, monaco, monospace;

// Type Scale

$font-size-1: 6rem;
$font-size-2: 5rem;
$font-size-3: 3rem;
$font-size-4: 2.25rem;
$font-size-5: 1.5rem;
$font-size-6: 1.25rem;
$font-size-7: 1rem;
$font-size-8: .875rem;

// Color

$light-gold:       #ffdaa9;
$gold:             #f9a523;
$dark-gold:        #ce8017;
$light-vermillion: #ffcfcf;
$vermillion:       #e25d52;
$dark-vermillion:  #a01a13;
$light-blue:       #dce9ff;
$blue:             #263c81;
$dark-blue:        #1d2842;
$black:            #3c3131;
$slate:            #958d8d;
$snow:             #f1eaea;
$white:            #fff;

// Breakpoint Size

$breakpoint-md: 540px;
$breakpoint-lg: 768px;
