---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <title>{{ site.title }} &middot; {{ page.title }}</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="{{ site.url }}/assets/style.css" rel="stylesheet">
  <body>
    {{ content }}
    <script src="{{ site.url }}/assets/main.js"></script>
  </body>
</html>
